# für Konvertierung der Config file in der command line
# hugo convert toTOML <content file> oder 
# hugo convert toJSON <content file> oder 
# hugo convert toYAML <content file>

baseURL:  ./ # ./ oder  "" leerer sting
languageCode: de-de
title: Taskit GmbH
theme: taskitTheme
enableEmoji: true
enableGitInfo: true
paginate: 3 # erhöhen für mehr blöcke pro Seite
