<div class="comments">
    <h3> Kommentar </h3>
    {{ if .Disabled  }}
      <div>
        Die Kommentare wurden vom Administrator der Website deaktiviert.
      </div>
    {{ else }}
      {{/*  Die Verwendung von RelPermalink aus den Params als $.Page ist in einem Partial nicht verfügbar.  */}}
      {{if getenv "NETLIFY" }}
        {{/*  Verwendet Comments als Formularname, damit wir ein einziges Formular für alle Kommentare haben.  */}}
        <form netlify="true" name="Comments">
      {{ else }}
        {{/*  Ruft die Kommentarformular-Aktion für Formularanbieter wie Formspree ab.  */}}
        <form action="https://formspree.io/f/{{.FormspreeCommentForm}}" method="post">
      {{ end }}
      {{/*  Fügt ein verstecktes Feld mit der URL der Seite hinzu.  */}}
      <input type="hidden" name="url" value="{{.RelPermalink}}">
        <div>
          <label for="name">Name:</label>
          <input id="name" name="name" type="text" required>
        </div>
        <div>
          <label for="email">Email:</label>
          <input id="email" name="email" type="email" required>
        </div>
        <div>
          <label for="message">Kommentar:</label>
          <textarea id="message" name="message" cols="50" rows="10" required></textarea>
        </div>
        <div>
          <button type="submit">Senden</button>
        </div>
      </form>
      {{end}}
    </div>