{{$scratch := newScratch}}
{{$products := resources.GetMatch "products.csv"}}
{{$parsedProducts := $products | transform.Unmarshal (dict "delimiter" ",")}}

{{$index := index $parsedProducts 0}}

{{ range $i, $r := $parsedProducts }}
  {{ if ne $i 0}}
    {{range $j := seq (sub (len $index) 1)}}
      {{ $scratch.SetInMap (index $r 0) (index $index $j) (index $r $j) }}
    {{ end }}
  {{ end }}
{{ end }}

{{return $scratch.Values}}



{{/*Creates a new scratch pad
Parses the CSV file using a comma as the separator
Gets the first row as the index row
Loops through all the rows in the table
Ignores the first row of the table
Creates a dictionary (map) in the scratch pad that points to another dictionary  
Converts the scratch pad to a dictionary and return*/}}


