{{/*  Fügt eine Klasse hinzu, um das richtige CSS zu erhalten  */}}
{{define "bodyClass"}}contact page{{end}}
{{define "body"}}
<main>
  {{$img := .Resources.GetMatch "cover.*"}}
  {{ if $img }}
  {{/*  bettet die Karte als Bild ein (cover.*) und stellt sicher, dass der Mittelpunkt des Bildes beim Beschneiden sichtbar ist.  */}}
  <img alt="{{.Title}}" width="1920" height="400" loading="lazy" src="{{($img.Fill "1920x400 Center").Permalink}}">
  {{ end }}
  {{with .Title}}
    <h1>
      {{.}}
    </h1>
  {{end}}

  <div class="contact-box">
    <div class="content">
        {{/*  Dies zeigt den Inhalt im Markdown-Format oberhalb des Kontaktformulars.  */}}
      {{.Content}}
    </div>
    {{/*  Vorlage für die Erfolgsmeldung  */}}
    <template id="contact-success">
      <div class="success">
        {{/*  Verwendet die Standardfunktion, um Standarddaten für ein Kommentarformular bereitzustellen
              und die Funktion $.Param, um das Lesen von Front Matter zu ermöglichen 
              und greift bei Bedarf auf die Website-Konfiguration zurück  */}}
      {{default "Vielen Dank, dass Sie uns kontaktiert haben. Sie werden bald von uns hören." ($.Param "contact-success")}}
    </div>
    </template>

    <template id="contact-error">
      <div class="error">
        {{/*  siehe oben  */}}
        {{default "Beim Absenden des Kontaktformulars ist ein Problem aufgetreten. Bitte versuchen Sie es später noch einmal." ($.Param "contact-error")}}
      </div>
    </template>

    {{/*  verwendet getenv zur Überprüfung von Umgebungsvariablen  */}}
    {{if getenv "NETLIFY" }}
    {{/*  Das Formular ist einfaches HTML  */}}
      <form data-dynamic-form data-success="#contact-success" data-error="#contact-error" netlify="true" name="Contact">
    {{else }}
    <form data-dynamic-form data-success="#contact-success" data-error="#contact-error" action="https://formspree.io/f/{{.Param "contact"}}" method="post">
    {{end}}      
          <div>
            <label for="name">Name:</label>
            <input id="name" name="name" type="text" required>
          </div>
          <div>
            <label for="email">Email:</label>
            {{/*  eine Antwort auf die Frage  */}}
            <input 
              {{ if getenv "NETLIFY" }}
                id="email" name="email"
              {{else }}
                name="_replyto"
              {{end }}    
              type="email" required>
          </div>
          <div>
            <label for="message">Nachricht:</label>
            <textarea id="message" name="message" cols="50" rows="10" required></textarea>
          </div>
          <div>
            <button type="submit">Senden</button>
          </div>
      </form>
  </div>
</main>
{{end}}