<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8">
    {{/* Existence checks */}}
    {{ if $.Description }}<meta name="description" content="{{$.Description}} ">{{ end }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./index.css">

    {{/* Existence checks, falling back to the website’s title */}}
    {{ $title := $.Title }}
    {{ if not $title }}
      {{ $title = site.Title }}
    {{ end }}
    {{/* Providing the web page title */}}
    {{ if $title }}<title>{{ $title }}</title>{{ end }}

  </head>
  <body class="home">
    <section>
      <img src="./image/logo_taskit.svg" alt="Taskit logo" width="64">
      
      {{/*  definiert in /content/_index.md  */}} 
      <h2>{{ $.Params.Subtitle }}</h2>
      
      {{/* Existence checks */}}
      {{if $.Title }}<h1>{{ $.Title }}</h1>{{ end }}
      {{if $.Params.Subtitle }}<h2>{{ $.Params.Subtitle }}</h2>{{ end }}

      <a href="./produkte">Jetzt erkunden</a>
    </section>
    <footer>
        <a href="./news">News</a>
        <a href="./blog">Blog</a>
        <a href="./rss">RSS</a>
        <a href="./contact">Kontakt</a>
        <a href="./privacy">Datenschutz</a>
        <a href="./terms">AGB's</a>     
        <a href="./credits">Impressum</a>
        <a href="./about">Über uns</a>
        
        
    </footer>
  </body>
</html>