<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Taskit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./index.css">
    <title>Taskit GmbH</title>
  </head>
  <body class="home">
    <section>
      <img src="./image/logo_taskit.svg" alt="Taskit logo" width="64">
      <h1>Taskit</h1>
      <h4>Test Landingpage</h4>
      <a href="./about">Jetzt kaufen</a>
    </section>
    <footer>
        <a href="./about">Über uns</a>
        <a href="./privacy">Datenschutz</a>
        <a href="./terms">AGB, Liefer- und Zahlungsbedingungen</a>
        <a href="./contact">Kontakt</a>
        <a href="./credits">Impressum</a>
        <a href="./dummy1">Dummy1</a>
    </footer>
  </body>
</html>